<table class="table">
  <tbody>
    <tr>
      <td>Ihr Profil</td>
      <td class="text-right"><%= image_tag(xing_profile_image_url(current_user.image, :mini_thumb)) %> <%= current_user.name %></td>
    </tr>
    <tr>
      <td>Ihr letzter Eintrag</td>
      <td class="text-right">
        <%= l current_user.votes.last.created_at, format: :short unless current_user.votes.empty? %>
      </td>
    </tr>
    <tr>
      <td>Firma</td>
      <td class="text-right">
        <%= link_to current_user.company, "http://#{current_user.company}", target: "_blank" %>
      </td>
    </tr>
    <tr>
      <td>Kollegen</td>
      <td class="text-right">
        <%= render partial: "layouts/colleague", collection: current_user.colleagues, as: :colleague %>
      </td>
    </tr>
    <tr>
      <td>Benutzer</td>
      <td class="text-right"><%= User.count %></td>
    </tr>
    <tr>
      <td>Kontakt E-Mail</td>
      <td class="text-right"><%= current_user.email %><br /><small>(<a href="https://www.xing.com/app/settings?op=notifications" target="_blank">auf XING ändern</a>)</small></td>
    </tr>
    <tr>
      <td>Business E-Mail</td>
      <td class="text-right"><strong><%= current_user.business_email %></strong></td>
    </tr>
    <tr>
      <td>Firmenname auf Startseite</td>
      <td>
        <form role="form">
          <div class="form-group pull-right">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="show_company" id="show_company" <%= "checked" if current_user.show_company %>> anzeigen
              </label>
            </div>
          </div>
        </form>
      </td>
    </tr>
    <tr>
      <td>Angemeldet</td>
      <td class="text-right"><%= l current_user.created_at, format: :date %></td>
    </tr>
  </tbody>
</table>

<%= button_to 'Benutzerkonto löschen', user_path, method: :delete, class: "btn btn-danger", data: { confirm: 'Sind Sie sicher?' } %>
<%= button_to "Abmelden", signout_path, class: "btn btn-warning", method: :get %>
