<h3>Zufriedenheit bei <%= current_user.company %></h3>
<table class="table">
  <thead>
    <tr>
      <th><%= t('vote.grade', company: current_user.company) %></th>
      <th><%= t('vote.best_html') %></th>
      <th><%= t('vote.worst_html') %></th>
      <th><%= t('vote.recommendation') %></th>
      <th><%= t('vote.comment') %></th>
      <th><%= t('vote.author') %></th>
    </tr>
  </thead>

  <tbody>
    <% @company_votes.each do |vote| %>
      <tr>
        <td><%= vote.grade %></td>
        <td><%= vote.best %></td>
        <td><%= vote.worst %></td>
        <td><%= vote.recommendation %></td>
        <td><%= vote.comment %></td>
        <td><%= render partial: "layouts/colleague", collection: [vote.user], as: :colleague %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Ihre Einträge</h3>
<table class="table">
  <thead>
    <tr>
      <th><%= t('vote.grade', company: current_user.company) %></th>
      <th><%= t('vote.best_html') %></th>
      <th><%= t('vote.worst_html') %></th>
      <th><%= t('vote.recommendation') %></th>
      <th><%= t('vote.comment') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.grade %></td>
        <td><%= vote.best %></td>
        <td><%= vote.worst %></td>
        <td><%= vote.recommendation %></td>
        <td><%= vote.comment %></td>
        <td><%= link_to 'Bearbeiten', edit_user_vote_path(vote) %><br />
            <%= button_to 'Löschen', user_vote_path(vote), class: "button tiny alert", method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
