<div class="row">
  <div class="col-lg-4">
    <%= form_for @vote, url: user_vote_path(@vote), html: {role: "form"} do |f| %>
      <% if @vote.errors.any? %>
        <div id="error_explanation">
          <h4><%= pluralize(@vote.errors.count, "Fehler") %> verhindert, dass das Formular gespeichert werden kann:</h4>

          <ul>
          <% @vote.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :grade, t('vote.grade', company: current_user.company) + " (Schulnote)" %><br />

        <% (1..6).each do |grade| %>
        <label class="radio-inline">
          <input name="vote[grade]" type="radio" id="vote_grade_<%= grade %>" value="<%= grade %>" <%= "CHECKED" if @vote.grade == grade %>> <%= grade %>
        </label>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">

      <div class="form-group">
        <%= f.label :best, t('vote.best_html') %>
        <%= f.text_area :best, rows: 2, class: "form-control" %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="field">
        <%= f.label :worst, t('vote.worst_html') %>
        <%= f.text_area :worst, rows: 2, class: "form-control" %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="field">
        <%= f.label :recommendation, t('vote.recommendation') %>
        <%= f.text_area :recommendation, rows: 2, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="field">
        <%= f.label :comment, t('vote.comment') %>
        <%= f.text_area :comment, rows: 2, class: "form-control" %>
      </div>

      <%= f.button "Abschicken", type: "submit", class: "btn btn-default" %>

    <% end %>
  </div>
</div>
