<div class="large-4 columns">
  <h3 class="subheader">Übersicht</h3>
  <table>
    <thead>
    </thead>
    <tbody>
      <tr>
        <td>Firma</td>
        <td class="right"><%= current_user.company %></td>
      </tr>
      <tr>
        <td>Kollegen</td>
        <td class="right"><%= current_user.colleagues_count %></td>
      </tr>
      <tr>
        <td>Kollegen</td>
        <td class="right">
          <%= render partial: "layouts/colleague", collection: current_user.colleagues, as: :colleague %>
        </td>
      </tr>
      <tr>
        <td>Benutzer</td>
        <td class="right"><%= User.count %></td>
      </tr>
    </tbody>
  </table>

  <h3 class="subheader">Benutzerkonto</h3>
  <table>
    <thead>
    </thead>
    <tbody>
      <tr>
        <td>Name</td>
        <td class="right"><%= current_user.name %></td>
      </tr>
      <tr>
        <td>Foto</td>
        <td class="right"><%= image_tag current_user.image_mini_thumb %></td>
      </tr>
      <tr>
        <td>E-Mail</td>
        <td class="right"><%= current_user.email %></td>
      </tr>
      <tr>
        <td>Angemeldet</td>
        <td class="right"><%= current_user.created_at.strftime("%d %b. %Y") %></td>
      </tr>
    </tbody>
  </table>

</div>
