<h3 class="subheader">Übersicht</h3>
<table>
  <thead>
  </thead>
  <tbody>
    <tr>
      <td>Firma</td>
      <td class="right">
        <%= link_to current_user.company, "http://#{current_user.company}", target: "_blank" %>
      </td>
    </tr>
    <tr>
      <td><%= l Time.zone.now, format: '%B' %></td>
      <td class="right">
        2.3
      </td>
    </tr>
    <tr>
      <td><%= l Time.zone.now.last_month, format: '%B' %></td>
      <td class="right">
        3.3
      </td>
    </tr>
    <tr>
      <td><%= l Time.zone.now.last_month.last_month, format: '%B' %></td>
      <td class="right">
        4.3
      </td>
    </tr>
    <tr>
      <td><%= l Time.zone.now, format: '%Y' %></td>
      <td class="right">
        3.3
      </td>
    </tr>
    <tr>
      <td>Kollegen</td>
      <td class="right">
        <%= render partial: "layouts/colleague", collection: current_user.colleagues, as: :colleague %>
      </td>
    </tr>
    <tr>
      <td>Benutzer</td>
      <td class="right"><%= User.count %></td>
    </tr>
  </tbody>
</table>

<h3 class="subheader">Benutzerkonto</h3>
<table>
  <thead>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td class="right"><%= current_user.name %></td>
    </tr>
    <tr>
      <td>Foto</td>
      <td class="right"><%= image_tag(xing_profile_image_url(current_user.image, :thumb)) %></td>
    </tr>
    <tr>
      <td>E-Mail</td>
      <td class="right"><%= current_user.email %> <small>(<a href="https://www.xing.com/app/settings?op=notifications" target="_blank">auf XING ändern</a>)</small></td>
    </tr>
    <tr>
      <td>Firmenname auf Startseite</td>
      <td>
        <form class="custom">
          <label for="chwo_company_checkbox">
            <input type="checkbox" id="show_company" style="display: none;" <%= "checked" if current_user.show_company %>>
            <span class="custom checkbox"></span> anzeigen
          </label>
        </form>
      </td>
    </tr>
    <tr>
      <td>Angemeldet</td>
      <td class="right"><%= l current_user.created_at, format: :date %></td>
    </tr>
  </tbody>
</table>

<%= button_to 'Account löschen', user_path, method: :delete, class: "button small alert", data: { confirm: 'Sind Sie sicher?' } %>
<%= button_to "Abmelden", signout_path, class: "button small secondary right", method: :get %>
