<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Happy Company" %></title>

  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="contain-to-grid">
      <nav class="top-bar">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1><a href="#"><%= content_for?(:title) ? yield(:title) : "Happy Company" %> </a></h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">

          <!-- Right Nav Section -->
          <ul class="right">
            <li class="divider"></li>
              <% if current_user %>
              <li class="has-dropdown">
                <%= link_to image_tag(current_user.image_mini_thumb, size: "18x24", alt: "Profilbild") + " #{current_user.name}",  nil %>
                <ul class="dropdown">
                  <li><%= link_to "Abmelden", signout_url %></a></li>
                </ul>
              </li>
              <% else %>
              <li>
                <%= link_to image_tag("login_grey_18_DE.png"), "/auth/xing" %>
              </li>
              <% end %>


          </ul>
        </section>
      </nav>
    </div>

    <%= render "layouts/flashmessages" %>

    <% if current_user %>
      <div class="row">
        <div class="large-8 columns">
          <h2>Happiness bei <%= current_user.company %></h2>
          <%= yield %>
        </div>
        <%= render "layouts/overview" %>
      </div>
    <% else %>
      <div class="row">
        <div class="large-12 columns">
          <h2>Happiness</h2>
            <%= yield %>
        </div>
      </div>
    <% end %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
