<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Happy Company" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=Sonsie+One' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <h1><a href="/"><%= content_for?(:title) ? yield(:title) : "Happy Company" %> </a></h1>
    <%= render :partial => 'layouts/flashes' %>
    <% if current_user %>
      <%= yield :accounthead %>
      <div class="row">
        <div class="large-12 columns">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="large-8 columns">
          <%= yield %>
        </div>
        <div class="large-4 columns">
          <%= render "layouts/info" %>
        </div>
      </div>
    <% end %>

  </body>
</html>
